<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>SISTEMA DE SOLICITUDES</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- App favicon -->
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<!-- App css -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" />
</head>  
<body>
	<!-- Begin page -->
	<div id="wrapper">
		<!-- Topbar Start -->
		<div class="navbar-custom">
			<ul class="list-unstyled topnav-menu float-right mb-0">
				<li class="dropdown notification-list"><a
					class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
					data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
					aria-expanded="false"> <img
						th:src="@{/images/users/avatar-1.jpg}" alt="user-image"
						class="rounded-circle"> <span class="pro-user-name ml-1" sec:authentication="name">
					    <i class="mdi mdi-chevron-down"></i>
					</span>
				</a>
					<div class="dropdown-menu dropdown-menu-right profile-dropdown ">
						<!-- item-->
						<div class="dropdown-header noti-title">
							<h6 class="text-overflow m-0">Bienvenido !</h6>
						</div>

						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item notify-item">
							<i class="remixicon-account-circle-line"></i> <span>Mi
								Perfil</span>
						</a>

						<div class="dropdown-divider"></div>

						<!-- item-->
						<a th:href="@{/logout}" class="dropdown-item notify-item"> <i
							class="remixicon-logout-box-line"></i> <span>Logout</span>
						</a>
					</div></li>
			</ul>
			<!-- LOGO -->
			<div class="logo-box">
				<a href="index.html" class="logo text-center"> <span
					class="logo-lg"> <img th:src="@{/images/logo-light.png}"
						alt="" height="20"> <!-- <span class="logo-lg-text-light">Xeria</span> -->
				</span> <span class="logo-sm"> <!-- <span class="logo-sm-text-dark">X</span> -->
						<img th:src="@{/images/logo-sm2.png}" alt="" height="24">
				</span>
				</a>
			</div>
			<ul class="list-unstyled topnav-menu topnav-menu-left m-0">
				<li>
					<button class="button-menu-mobile waves-effect waves-light">
						<i class="fe-menu"></i>
					</button>
				</li>
				<li class="dropdown d-none d-lg-block"></li>
			</ul>
		</div>
		<!-- end Topbar -->

		<!-- ========== Left Sidebar Start ========== -->
		<div class="left-side-menu">
			<div class="slimscroll-menu">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<ul class="metismenu" id="side-menu">
						<li class="menu-title">Menu</li>
						<li
							sec:authorize="hasAnyAuthority('ROLE_OPERADOR','ROLE_ADMIN','ROLE_NEGOCIO')">
							<a th:href="@{/menu}" class="waves-effect"> <i
								class="remixicon-vip-crown-2-line"></i> <span> Mis
									Solicitudes</span>
						</a>
						</li>
						<li
							sec:authorize="hasAnyAuthority('ROLE_OPERADOR','ROLE_ADMIN','ROLE_NEGOCIO')">
							<a th:href="@{/regsolicitudes}" class="waves-effect"> <i
								class="remixicon-vip-crown-2-line"></i> <span> Registro
									Solicitud</span>
						</a>
						</li>
						<li sec:authorize="hasAnyAuthority('ROLE_OPERADOR','ROLE_ADMIN')">
							<a href="javascript: void(0);" class="waves-effect"> <i
								class="remixicon-stack-line"></i> <span> Consultas </span> <span
								class="menu-arrow"></span>
						</a>
							<ul class="nav-second-level" aria-expanded="false">
								<li><a th:href="@{/repsolicitudes}">Solicitudes</a></li>
								<li><a th:href="@{/repusuarios}">Usuarios</a></li>
							</ul>
						</li>

						<li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a
							href="javascript: void(0);" class="waves-effect"> <i
								class="remixicon-stack-line"></i> <span> Configuracion </span> <span
								class="menu-arrow"></span>
						</a>
							<ul class="nav-second-level" aria-expanded="false">
								<li><a th:href="@{/configusuario}">Usuario</a></li>
								<li><a th:href="@{/configcategoria}">Categoria</a></li>
								<li><a th:href="@{/configaplicacion}">Aplicacion</a></li>
							</ul></li>


					</ul>
				</div>
				<!-- End Sidebar -->
				<div class="clearfix"></div>
			</div>
			<!-- Sidebar -left -->
		</div>
		<!-- Left Sidebar End -->

		<!-- ============================================================== -->
		<!-- Start Page Content here -->
		<!-- ============================================================== -->

		<div class="content-page">
			<div class="content">
				<!-- Start Content-->
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box">
								<h4 class="page-title">Consulta Usuarios</h4>
							</div>
						</div>
					</div>
					<!-- end page title -->
				</div>
				<!-- container -->

				<div class="container-fluid">

					<form th:action="@{/repConsultaUsuarios}" method="post" autocomplete="off">
						<div class="row">
							<div class="col-md-3">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Tipo
											Usuario</span>
									</div>
									<select id="cboTipoUsuario" name="cboTipoUsuario" class="form-control">
										<option value="0">Seleccione</option>
										<option value="1">ADMIN</option>
										<option value="2">OPERADOR</option>
										<option value="3">NEGOCIO</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">DNI</span>
									</div>
									<input type="text" class="form-control" id="txtDNI" name="txtDNI"
										placeholder="Ingrese DNI">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Apellidos</span>
									</div>
									<input type="text" class="form-control" id="txtApellidos" name="txtApellidos" 
										placeholder="Ingrese Apellidos">
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success float-right ">Consultar</button>
						<button type="button" class="btn btn-primary float-right mr-2">Cancelar</button>
					</form>
					
					<br><br>
					<div class="card">
							<div class="card-header">Lista de Usuarios</div>
							<div class="card-body">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Codigo</th>
											<th scope="col">Nombre</th>
											<th scope="col">Apellidos</th>
											<th scope="col">Documento</th>
											<th scope="col">Celular</th>
											<th scope="col">Telefono</th>
											<th scope="col">Tipo Usuario</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="registro : ${listaPersonas}">
											<td th:text="${registro.codigo}"></td>
											<td th:text="${registro.nombre}"></td>
											<td th:text="${registro.apellido}"></td>
											<td th:text="${registro.documento}"></td>
											<td th:text="${registro.celular}"></td>
											<td th:text="${registro.telefono}"></td>
											<td th:text="${registro.tipoUsuario}"></td>
										</tr>

									</tbody>
								</table>

							</div>
						</div>
					

				</div>

			</div>
			<!-- content -->

			<!-- Footer Start -->
			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							2021 &copy; ERICK PARIONA YAURICASA <a href="#">CIBERTEC</a>
						</div>
					</div>
				</div>
			</footer>
			<!-- end Footer -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page content -->
		<!-- ============================================================== -->
	</div>
	<!-- Right bar overlay-->
	<div class="rightbar-overlay"></div>
	<!-- Vendor js -->
	<script th:src="@{/js/vendor.min.js}"></script>
	<!-- App js -->
	<script th:src="@{/js/app.min.js}"></script>
</body>
</html>